@{
  Layout = "_Layout";
}

@using Tracker.Models; 

<h3>Here are all of the Orders currently placed with this Vendor</h3> 

<ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.OrderTitle</a></li>
  }
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<p><a href='/vendors'>Return to Vendor list</a></p>
<p><a href='/'>Return to Home Page</a></p>