@{
  Layout = "_Layout";
}

<h1> Welcome Pierre! </h1>

<h3><a href='/vendors'>Click here to go to the Vendor page. From there, you can access a form to add new vendors or see info about existing vendors!</a></h3>